{%extends "base.html" %}{%load static%}


{%block body%}

<div class="uper">

  <h2> About me </h2>

</div>

<div class="container mt-4">

  <h2 style="font-weight: bold; "> Hello Coders </h2>
  <p class="para">My name is Dark Side. I am from Pakistan. I had completed my Computer Engineering at Punjab Technological university. I currently working as a Python developer at Talk-agent. I know very well WordPress, PHP, HTML, Css, Javascript, and jQuery. I want to learn new technologies like React, Angular, Laravel, etc. I also developed the website with these technologies.</p>

    <h2 style="font-weight: bold; "> Matrialize Vdieo </h2>
    <p class="para"> Confused on which course to take? I have got you covered. Browse courses and find out the best course for you. Its free!
                Code With Dark Side is my attempt to teach basics and those coding techniques to people in short time which took me ages to learn.
    </p>

</div>
{%endblock%}


{%block content%}

   <footer class="page-footer font-small  mt-2" style="background-color: gray">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/" style="color: white"> Dark Side</a>
  </div>
  <!-- Copyright -->

</footer>

{%endblock%}
