{%extends "base.html" %}



{%block body%}

              {% ifequal error "password" %}
              <script>
              swal("Hey User !", "...Password Does Not Match!");
              </script>
              {%endifequal%}

              {%ifequal error "UserName already" %}
              <script>
                 swal("Hey User !", "...User Name Already Taken!");
              </script>
              {%endifequal%}

              {%ifequal error "email already" %}
              <script>
                 swal("Hey User!", "...Email Already Exits!");
              </script>
              {%endifequal%}

              {%ifequal error "pass" %}
              <script>
              swal({
              title: "Are you want to login?",
              text: "Click On Button!",
              icon: "success",
              buttons: true,
            })
            .then((willDelete) => {
              if (willDelete) {
                  window.location = ('{%url "LoginView" %}')

              } else {
                swal("Welcome to Dark Side Zone!", {
                    window.location = ('{%url "LoginView" %}')
              });

              }
            });
              </script>
              {%endifequal%}

<div class="container">
    <h1 class="text-center" style="font-weight: bold; font-style: italic;">Register Youself</h1>
<form class="foo" method="post">
   {%csrf_token%}
  <div class="form-group">
    <label for="exampleInputPassword1">UserName:</label>
    <input type="text" class="form-control " name="uname" id="exampleInputPassword1" placeholder="name">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control " name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Contact</label>
    <input type="text" class="form-control " name="contact" id="exampleInputPassword1" placeholder="Contact">
  </div>

   <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control " name="password" id="exampleInputPassword1" placeholder="Password">
  </div>

   <div class="form-group">
    <label for="exampleInputPassword1">Confrim Password</label>
    <input type="password" class="form-control " name="againpass" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>
{%endblock%}


{%block content%}

 <footer class="page-footer font-small  mt-2" style="background-color: gray">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/" style="color: white"> Dark Side</a>
  </div>
  <!-- Copyright -->

</footer>

{%endblock%}
